.background-index {
    background-image: url('../images/background/back4.jpg');
}
.background-library {
    background-image: url('../images/background/background.jpg');
}
.background-cafeteria {
    background-image: url('../images/background/background4.jpg');
}
.background-login {
    background-image: url('../images/background/back1.jpg'); 
}
.background-map {
    background-image: url('../images/background/back2.jpg'); 
}
.background-history {
    background-image: url('../images/background/back5.jpg'); 
}
.background-parking {
    background-image: url('../images/background/back12.jpg'); 
}

